*{
    margin: 0px;
    padding: 0px;
}
/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body{
    background-color: #f4f5f7;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}
.navbar{
    list-style: none;
}
.sidebar{
    background-color: #fafafa;
    position: absolute;
    box-shadow: 0px 0px 25px 0px rgba(222, 222, 222, 0.5);
    min-height: 100vh;
    width: 100px;
}
.logo-img {
    padding: 20px 0;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
}
.navbar li{
    text-align: center;
}
.navbar li a{
    font-size:13px;
    font-weight: 600;
    color:#000;
    padding: 20px 0px;
    display:block;
    text-decoration: none;
}
.navbar li a.active{
    background-color: #d1e1ee;
    border-left: 3px solid #386db8;
}
.navbar svg {
    width: 25px;
    height: 25px;
}
.header{
    position: relative;
    left: 100px;
    background-color: #fff;
    height: 93px;
}
.main-wrap{
    position: relative;
    top: 0;
    left: 100px;
    padding: 30px;
}
.videos svg{
    transform: rotate(180deg);
    margin-right: 3px;
}
.videos{
    display:flex;
    align-items: center;
    color:#386db8;
    text-decoration: none;
    font-size:14px;
}
.container {
    max-width: 1200px;
    margin: 0px auto;
}
.form-control {
    font-size: 13px;
    color: #000;
    height: 45px;
    border: none;
    border-radius: 7px;
    padding: 0px 20px;
    font-weight: 600;
    width: 80%;
    background-color: #fafafa;
}
.content {
    margin-top: 25px;
}
.divider {
    text-align: center;
    width: 80%;
    margin: 30px 0;
    font-size: 17px;
}
.upload{
    width: 160px;
    height: 160px;
    background: #FAFAFA;
  }
  .upload p{
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 170px;
    color: #000;
    font-weight: bold;
    font-size: 14px;
    font-family: Arial;
  }
  .upload input{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
  }